body{background-color:black;}
h1{color: rgb(255, 255, 255);text-align:center; margin: 40px;}
p{color: rgb(219, 7, 7); text-align:left;margin: 12px;}
h2{color:blueviolet; text-align: center;margin: 40px;}